* {
  font-family: 'Ubuntu', sans-serif;
}
#mainContent {
  margin-top: 55px;
}


#heroIntro {
  background-image: url('https://media.napon.id/forest.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#aboutUs {

}

#whyChooseUs {
  color: white;
}

#howWeWork {

}

.content {
  padding: 5em 0;
}

.bold {
  font-weight: bold;
}
