* {
  font-family: 'Ubuntu', sans-serif;
}
#mainContent {
    margin-top: 55px;
}

.hero {
    margin-top: -80px;
}

.hero-page {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 5em;
}

#heroIntro1 {
    background-image: url('/images/media/img/bg-first.jpg');
}

#heroIntro2 {
    background-image: url('/images/media/img/bg-second.jpg');
}

#heroIntro3 {
    background-image: url('/images/media/img/bg-third.jpg');
}

#aboutUsHero {
    background-image: url("/images/media/img/bg-about.jpg");
}

#serviceHero {
    background-image: url("/images/media/img/bg-service.jpg");
}

#faqHero {
    background-image: url("/images/media/img/bg-faq.jpg");
}

#simulateAkarku {
    background-image: url("/images/media/img/simulasi-akarku.jpg");
}

#simulateBatangku {
    background-image: url("/images/media/img/simulasi-batangku.jpg");
}

#simulateRantingku {
    background-image: url("/images/media/img/simulasi-rantingku.jpg");
}

#simulateDaunku {
    background-image: url("/images/media/img/simulasi-daunku.jpg");
}

#simulateHutanku {
    background-image: url("/images/media/img/simulasi-hutanku.jpg");
}

.simulate-page {
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}

#whyChooseUs {
    color: white;
}

#whyChooseUs img {
    margin: 0 auto -20px;
    max-height: 100px;
}

#howWeWork {

}

#howWeWork img {
    max-height: 10em;
    margin: -15px auto 0;
}

#serviceSimulation {
    background-color: #dfdfdf;
}

.content {
    padding: 5em 0;
}

.smaller-content {
    padding: 1.5em 0;
}

.bold {
    font-weight: bold;
}
