* {
  font-family: 'Ubuntu', sans-serif;
}
#mainContent {
  margin-top: 55px;
}

.hero {
    margin-top: -80px;
}

#heroIntro1 {
  background-image: url('/images/media/img/forest-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5em 0;
}

#aboutUsHero {
  padding: 5em;
  background-image: url("/images/media/img/forest-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#serviceHero {
  padding: 5em;
  background-image: url("/images/media/img/forest-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#faqHero {
  padding: 5em;
  background-image: url("/images/media/img/forest-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#whyChooseUs {
  color: white;
}

#whyChooseUs img {
  margin: 0 auto -20px;
  max-height: 100px;
}

#howWeWork {

}

#howWeWork img {
  max-height: 10em;
  margin: -15px auto 0;
}

#serviceSimulation {
  background-color: #dfdfdf;
}

.content {
  padding: 5em 0;
}

.smaller-content {
  padding: 1.5em 0;
}

.bold {
  font-weight: bold;
}
